

/* header styles */

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1512px;
    width: 100%;
    height: 100px;
    padding: 0 100px;
    margin: 0 auto;
}

    

.ul-nav {
    display: flex;
    gap: 60px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15.5px;
    padding-left: 100px;
}

.logo-img {
  width: 44px;
  height: 44px;
}

.button1 {
    width: 188px;
    height: 48px;
    background-color: #FF5403;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0%;
    line-height: 100%;
}


.ul-nav li a{
    font-family: 'Inter', sans-serif;
    color: #696969;
    font-size: 18px;
    font-weight: 400;
}

.burger {
  display: none;
  cursor: pointer;
}

/* section 1*/
.box1 {
    width: 100%;
    height: 480px;
    position: relative;
}

.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
                            }

.box1-div {
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    

}


.box1-div h1 {
    width: 687px;
    height: 116px;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;        
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0.07em;  
    color: #FFFFFF;
}



.box1-div h1 {
    width: 687px;
    height: 116px;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;        
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0.07em;  
    color: #FFFFFF;
}

.box1-div p { 
    width: 691px;
    height: 24px;
    font-weight: 400;
    font-family: normal;
    font-size: 13px;
    margin-top: 0;
    line-height: 100%;
    letter-spacing: 0.07em;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}

              
    


.discover {
    width: 250px;
    height: 66px;
    background-color: #FF5403;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0%;
    line-height: 100%;
    margin-top: 50px;
    cursor: pointer;

}
.discover:hover {
  background: #0056b3;
}

/* form styles */
.box2 { 
  max-width: 1100px; 
  width: 90%; 
  height: 180px;
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 10px 30px black;
  display: flex;
  justify-content: center;
  align-items: center;

}




.form select,
.form input {
  padding: 12px;
  border: 1px solid #007bff;
  border-radius: 3px;
 
}

.form button {
  background: #ff5a00;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  color: #333;
}

#searchBtn:hover {
  background: #0056b3;
}

/* cookies */
.cookie-banner {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: 0 10px 25px black;
  z-index: 10;
}

#acceptCookies {
  background: #4caf50;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;

}
#denyCookies {
  background: #e53935;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;

}
#denyCookies:hover {
  background: #c62828;     
}

#acceptCookies:hover {
  background: #43a047;
}

/* scroll styles */
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  padding: 15px 15px;
  z-index: 11;
  background-color: #0056b3;
}

/* login styles*/

.login-page {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0ea5e9,   
    #38bdf8    
  );
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.login-form {
  background-color: white;
  padding: 30px;
  width: 100%;
  max-width: 360px;
  border-radius: 6px;
  box-shadow: 0 8px 20px black;
  text-align: center;
}



.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #FF5403;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button1:hover {
  background: #0056b3;
}

.btn3:hover {
  background: #0056b3;
}

/* section2 */

.text-div h1 {

    font-family: Inter sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 5%;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center;       
    margin-top: 100px;
    margin-bottom: 20px;
}




.text-div p {
    
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center; 
    font-family: Inter sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    color: #626262; 
    
}

.section2 {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}


.photos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.row {
    display: flex;
    gap: 30px;
}

.row img {
    width: 50%;
    height: 280px;
    
}


.section-btn {
    margin-top: 50px;
}

/* section3 */
.box3 {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 50px;
    
}

.image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    

    
    }
.event-box {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    width: 500px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: left;
}


.upcoming-event {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #FF5403;
}

.destination {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #041562;
}

.event-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #626262;
}

.event-info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #626262;
}

.btn3 {
    width: 198px;
    height: 52px;
    color: white;
    background-color: #FF5403;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}



/* section 4*/

.box4-title h1 {

    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 5%;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center;       
    margin-top: 100px;
    margin-bottom: 20px;
    color: #041562;
}

.box4-title p {
    
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center; 
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    color: #626262;
    ;

    
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 40px auto;

  
 
}

.container img {
  width: 100%;
  height: auto;
}

.stars {
    color: yellow;
    font-size: 25px;
}
.box h1 {
    width: 277px;
    height: 29px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 5;
    text-align: left;


}
.stars span {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 2;
    color: black;

}

.box p {
    width: 160px;
    height: 31px;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    color: #626262;
    line-height: 170%;
    letter-spacing: 2;


}


.section5 {
    max-width: 1550px;
    width: 100%;
    background-color: #041562;
    
    
    

}

.section5-title {
    display: flex;
    justify-content: space-between;
    
    
    
    

}

.section5 h1 {
    color: white;
    width: 274px;
    height: 44px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
    margin-top: 100px;
    margin-left: 70px;
    line-height: 100%;
    letter-spacing: 2;




}

.arrow {
    display: flex;
    
}

.r-arrow {
    width: 60px;
    height: 60px;
    background-color:   #2D93EA;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-top: 100px;
    
}
.l-arrow {
    width: 60px;
    height: 60px;
    background-color:   #2D93EA;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-top: 100px;
    
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.boxes {
  width: 350px;
  height: 260px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 80px;
  background-color: #243a8f;
  padding: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
}
  

.boxes p {
  font-size: 15px;
  line-height: 1.6;
  color: #e6e9ff;
  
}



.section6-title h1 {

    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 5%;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center;       
    margin-top: 100px;
    margin-bottom: 20px;
    color: #041562;
}

.section6-title p {
    
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center; 
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    color: #626262;
    ;

    
}



.container2 {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 40px auto;

  
 
}

.container2 img {
  width: 100%;
  height: auto;
}


.box6 h1 {
    
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 5;
    text-align: left;
    margin-top: 20px;


}


.box6 p {
    
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    color: #626262;
    line-height: 170%;
    letter-spacing: 2;
    margin-top:10px;


}  


    



.footer {
  background-color: #0b1b4b;
  color: #ffffff;
  margin-top: 100px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 10px;
}

.footer-logo h2 {
  font-size: 22px;
  font-weight: 600;
 
}

.footer-logo p {
  font-size: 14px;
  
}

.footer-descr h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-descr h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ff9800;
  font-size: 14px;
}

.footer-descr ul {
  padding: 0;
}

.footer-descr ul li {
  font-size: 14px;
  margin:8px;
 
}

.footer-column p {
  font-size: 14px;
  margin-bottom: 8px;
  
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}



.footer-bottom {
  background-color: #081338;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  
}

/* responsive */

@media (max-width: 1024px) {
  

  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .container2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .event-info {
    flex-direction: column;
  }
}


@media (max-width: 778px) {

  .photos .row img {
    width: 100%; 
    height: auto;
  }
  .container {
    width: 90%;
  }

  .container2 {
    width: 90%;
  }
}
@media (max-width: 480px) {

  .photos .row {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .container2 {
    flex-direction: column;
  }

  .box1-div h1 {
    font-size: 28px;
  }

  .box1-div p {
    font-size: 12px;
  }

  .discover {
    width: 140px;
    height: 35px;
    font-size: 14px;
  }

  
  .burger {
    display: flex;
    font-size: 28px;
    color: #041562;
  }
  .navigation {
    display: none;
  }
  .button1 {
    display: none;
  }
  .logo {
    padding-left: 0;
  }

}
  



@media (max-width: 320px) {

  .box1-div h1 {
    font-size: 24px;
  }

  .box1-div p {
    font-size: 11px;
  }

  .discover {
    width: 120px;
    height: 30px;
    font-size: 12px;
  }

  .event-box {
    width: 100%;
    padding: 15px;
  }

  .container, .container2 {
    gap: 15px;
  }
}
